$primary-color: #ff4500;
$variant: #191818;

section.write_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  div.progress_bar_wrapper {
    background-color: #fff;
    border-radius: 1px;
    margin: 3em 1em 0 1em;
    width: 70%;

    div.progress_bar {
      height: 1px;
      border-radius: 1px;
      width: calc((100% / 3) * 2);
      background-color: $primary-color;
    }
  }

  div > h3 {
    padding: 0;
  }

  div.row {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0;
    padding: 0;

    button.continue {
      display: flex;
      flex: 1;
      justify-content: center;
      margin: 2em;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-weight: bolder;
      padding: 1em 2em;
    }
    button.cancel {
      display: flex;
      flex: 1;
      justify-content: center;
      margin: 2em;
      border: none;
      border-radius: 5px;
      color: #000;
      font-weight: bolder;
      padding: 1em 2em;
    }
  }

  div.text_area {
    display: flex;
    width: 70%;
    background-color: #fff;
    border-radius: 5px;

    textarea {
      display: flex;
      flex: 1;
      font-weight: bolder;
      font-size: large;
      border-radius: 5px;
      padding: 1em;
    }
  }
}

// Media queries

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  section.write_message {
    div.progress_bar_wrapper {
      width: 100%;
    }
    div.text_area {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
